.interior {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0%;
}

.interior :global(div) {
    background-color: black;
    /* Use rgba to set background opacity */
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 38px;
    opacity: 0.7;
    position: absolute;
    padding: 20px;
}

.interior :global(p) {
    color: white;
    text-align: center;
    margin-bottom: 0px !important;
    cursor: pointer;
    text-transform: capitalize;
    border-bottom: 1px solid white;
    margin-top: -1%;
    opacity: 0.85;
}

.interior :global(p:hover) {
    color: red !important;
    font-weight: 700 !important;
}

.interior :global(.modal-dialog) {
    max-width: 100% !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
}

.interior :global(.modal-header) {
    border-bottom: none !important;
}

.interior :global(.modal-footer) {
    border-top: none !important;
}

.interiorActive {
    color: white !important;
    /* background-color: white; */
    font-weight: 700;
    /* padding: 0px 10px ; */
}

.smallBoxFixedPosition {
    position: fixed;
    right: 1.5%;
    padding: 0px 25px !important;
    margin-top: 1% !important;
}

.subcontentDiv {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 15px;
}

.subcontentDiv {
    padding: 10px;
}

.bottomShadow {
    padding: 0px 0px 10px 0px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.aedDev {
    justify-content: space-between;
    display: flex;
    padding: 0px 5px;
}

.aedDev :global(h6) {
    font-size: 20px;
}

.aedDev1 {
    display: flex;
    justify-content: space-between;
}

.aedDev1 :global(h6) {
    font-size: 14px;
}

.bookATestDrive {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.bookATestDrive :global(.btn) {
    width: 170px;
    border: none !important;
}

.carOverviewContainer {
    padding: 0px 0px !important;
}

.carOverviewCol  {
    padding: 0px !;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    justify-content: center;
    border-radius: 15px;
}

.carOverviewCol {
    padding-right: 0px !important;
}

.carOverviewDiv :global(.col-lg-4 div) {
    display: grid;
    width: fit-content;
}

.carOverviewDiv :global(.col-lg-4) {
    padding: 0px !important;
}

.carOverviewDiv :global(.row) {
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
    width: 100% !important;
}

.carOverviewDiv :global(.col-lg-4 h6) {
    color: #302736;
    font-weight: 600;
}

.smallBoxFixed {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding: 0px !important;
    width: 18.6% !important;
}

.smallBoxFixed :global(.first-and-main-div) {
    padding: 30px 0px 30px 0px !important;
    /* display: grid !important; */
    align-items: center;
    justify-content: center;
}

.smallBoxFixed :global(.first-and-main-div span) {
    font-size: 30px;
    margin-right: 10%;
}

.smallBoxFixed :global(div h6) {
    font-size: 14px;
    margin-bottom: 0px !important;
}

.smallBoxFixed :global(div .features-main-heading) {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0px !important;
    color: #ca0000;
}

.carOverviewIconDiv {
    display: flex;
    justify-content: center;
    border-right: 1px solid red;
}

.carOverviewIconDiv :global(img) {
    /* width: 70px; */
    height: auto;
    object-fit: cover;
}

.carOverviewFeatureDiv {
    text-align: center;
}

.carOverviewFeatureDiv {
    margin-left: 0%;
}

/* ending */
.extraFeatures {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 15px;
  padding-bottom: 10px;
}
.extraFeatures :global(.col-lg-4) {
  padding: 10px 15px 10px 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 1px 0px;
}
.extraFeaturesSecondDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.extraFeaturesSecondDiv img {
  position: relative;
  left: -13%;
}
.extraFeaturesSecondDiv p {
  margin-bottom: 0px !important;
}
.emiCalculator h5 {
  margin-bottom: 0px !important;
  margin-top: 5%;
  padding-right: 5px;
}
.emiCalculator {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 15px;
}
.main1stCol {
  box-shadow: rgba(27, 31, 35, 0.04) 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 1px 0px 0px inset !important;
}
.emiStartingRate {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  padding: 20px !important;
}
.emiStartingRate h5 {
  font-size: 10px;
}
.emiStartingRate h6 span {
  font-size: 40px;
}
.emiStartingRate h6 {
  color: rgb(103, 147, 147);
}
.emiStartingRate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pieChartCircle {
  display: flex;
  justify-content: center;
}
.pieChartCircle div {
  width: 200px;
  display: flex;
}
.smallCardMainDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px !important;
}
.smallCardMainDiv p {
  margin-bottom: 0px !important;
  font-size: 12px;
}
.secondDiv {
  border-bottom: 1px dotted black;
}
.smallCard .divOne {
  width: 12px;
  height: 12px;
  background-color: #74c5e8;
  border-radius: 3px;
}
.smallCard .divTwo {
  width: 12px;
  height: 12px;
  background-color: rgb(214, 37, 37);
  border-radius: 3px;
}
.smallCard {
  display: flex;
  align-items: center;
}
.priceRangeMainCol {
  padding: 0px !important;
  display: grid;
}
.mainPriceDiv {
  padding: 20px !important;
}
.emiLoanAmountCalculator {
  display: flex;
  justify-content: space-between;
}
.emiLoanAmountCalculator p {
  margin-bottom: 2px !important;
}
.emiLoanAmountCalculatorBelow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 12px;
}
.emiLoanAmountCalculatorBelow p {
  margin-bottom: 2px !important;
}
.divContentBelow {
  background-color: #e5e5e5;
  padding: 0px;
}
.divContentBelow {
  padding: 25px 20px 25px 20px !important;
  font-size: 12px;
  border-bottom-right-radius: 15px;
}
.processPara {
  border-bottom: 1px dotted black;
  padding-bottom: 10px;
  margin-bottom: 5px !important;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .smallBoxFixedPostion {
      position: relative;
  }

  .smallBoxFixedPostion {
      padding: 0px !important;
      right: 0;
  }

  .subcontentDiv h6 {
      font-size: 14px;
  }

  .bookATestDrive .btn {
      width: 120px;
      border: none !important;
      font-size: 12px !important;
  }

  .carOverviewContainer {
      padding: 0px 0px !important;
  }

  .smallBoxFixed {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
      padding: 0px !important;
      width: 50% !important;
  }

  .smallBoxFixed .firstAndMainDiv {
      padding: 10px 0px 10px 0px !important;
      align-items: center;
      justify-content: center;
  }

  .carOverviewIconDiv img {
      width: 30px;
      height: 30px;
  }

  .carOverviewFeatureDiv h6 {
      font-size: 12px !important;
  }
  .featuresMainHeading {
      font-size: 10px !important;
  }
}

@media (max-width: 768px) {
  .interior div {
      background-color: black;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 38px;
      opacity: 0.7;
      position: absolute;
      padding: 20px;
  }

  .interior div p {
      font-size: 8px;
  }
}

@media (min-width:992px) and (max-width:1200px) {
  .interior div {
      background-color: black;
      width: 72%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 38px;
      opacity: 0.7;
      position: absolute;
      padding: 20px;
      left: 22.5%;
  }
}
