.homepageContainer {
    padding: 0px !important;
  }
  .homepageContainer :global(.row) {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .formColLg3 :global(h1) {
    background-color: rgb(255, 11, 11);
    color: white;
    text-align: center;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0px !important;
  }
  
  
  
  .formColLg3 :global(h6) {
    background-color: rgb(255, 11, 11);
    color: white;
    text-align: center;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0px !important;
  }
  .formColLg3 {
    /* height: 349px; */
    /* position: absolute; */
    background-color: black;
    opacity: 0.9;
    padding: 0px !important;
  }
  .inputValues {
    /* margin: 22px 0px; */
    padding: 0px 0px;
  }
  .downArrow {
    font-size: 10px;
  }
  .serachBtnsHome :global(.btn) {
    background-color: white !important;
    width: 100% !important;
    color: black;
  }
  .serachBtnsHome :global(.btn:hover) {
    color: black;
  }
  .serachBtnsHome {
    width: 100%;
  }


  

  @media (max-width: 767px) {
      .homepageContainer :global(.row) {
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
      }
      .searchbox1{
        height: 320px !important;
      }
  }