
.addBrandSlides :global(a) {
  text-decoration: none;
}
.addBrandSlides :global(.slick-track) {
  display: flex;
  align-items: center;
}
.addBrandSlides :global(.card) {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0 !important;
  /* padding: 8px 0px !important; */
}
.addBrandSlides :global(.card p) {
  margin-bottom: 0px !important;
}
.addBrandSlides :global(.card h5) {
  margin-bottom: 1px !important;
  font-size: 16px;
}
.addBrandSlides :global(.card .emi-rate) {
  color: red;
  font-size: 14px;
}
.addBrandSlides :global(.card .per-month) {
  font-size: 10px;
}
.addBrandSlides :global(.card .full-price) {
  font-size: 14px;
}
.addBrandSlides :global(.card .full-price span) {
  color: red;
}

.homePageAddRow {
  display: flex;
  align-items: center !important;
}
.homeAddHeading {
  color: #ca0000;
}
.productsHeading {
  display: grid;
  justify-content: center;
}
.productsHeading :global(h6) {
  text-align: center;
}
.productsHeading :global(h3) {
  font-weight: 700;
  margin-bottom: 0px !important;
}
.findCarHedaing :global(p) {
  margin-bottom: 0px !important;
}
.tabesContainer {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  padding: 0px 28px 0px 30px !important;
}
.productsBrandMenu {
  display: flex;
  justify-content: center;
  /* background-color: rgb(224, 28, 28); */
}
.productsBrandMenu :global(.active) {
  background-color: white !important;
  border-radius: 0px !important;
  color: black !important;
}
.productsBrandMenu :global(.nav-link) {
  color: black !important;
  border: 1px solid black;
  margin: 0px 10px;
}
.productsBrandMenu :global(.active) {
  color: white !important;
  background-color: #f30e0e !important;
  border: none !important;
}
.navItem1 {
  padding: 0px 20px;
}
.item :global(.info-div) {
  display: grid;
  justify-content: center;
}
.item :global(.info-div h6) {
  text-transform: uppercase;
  margin-top: 2%;
  text-align: center;
}
.item :global(.card-header) {
  padding: 0px !important;
}
.item :global(.card-header:hover .faEyeIconDiv) {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}
.productsCardHeader :global(img) {
  object-fit: cover;
}
.availableH6 {
  position: absolute;
  background-color: rgb(69, 152, 69);
  margin: 0px !important;
  color: white;
  padding: 5px;
  right: 0;
  text-transform: capitalize;
  top: 0;
}
.faEyeIconDiv {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  background-color: black;
  opacity: 0.7;
  display: none;
  transition: opacity 0.3s ease;
}
.faEyeIconDiv :global(svg) {
  font-size: 40px;
  z-index: 5;
}
.brandNameDiv {
  height: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.brandNameDiv :global(h6) {
  text-align: center;
  margin-bottom: 0px;
}
.infoWithIcon {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.infoWithIcon :global(.col-lg-2) {
  width: 18.6%;
}
.infoWithIcon :global(p) {
  margin: 0px !important;
  font-size: 10px;
  text-align: center;
}
.whoAreSection {
  background-image: url("https://dev1.sbagh.com/istockphoto-1009726070-170667a.ddc18265653aa7f1.jpg");
  padding: 40px 0px;
}
.whoAreSection :global(.row) {
  padding: 0px 30px;
}
.knowMore {
  background-color: black;
  color: white;
  font-weight: 400;
  width: 200px;
  padding: 10px;
  text-align: center;
  margin-top: 8%;
}
.homepageFaqs :global(.accordionButton) {
  padding: 10px !important;
}
.homepageFaqs :global(.accordionBody) {
  padding: 10px !important;
}
.productsHeading {
  display: grid;
  justify-content: center;
}
.productsHeading :global(h6) {
  text-align: center;
}
.productsHeading :global(h3) {
  font-weight: 700;
  margin-bottom: 0px !important;
}
.accordionBodyHomepage {
  display: flex;
  align-items: start;
}
.accordionBodyHomepage :global(p) {
  margin-bottom: 0px !important;
}
.accordionBodyHomepage :global(svg) {
  width: 16px !important;
}
/* Why Choose Start */
.whyChooseUs {
  border: none !important;
}
.whyChooseUs :global(h6) {
  position: absolute;
  margin-top: 0px;
  background-color: #f30e0e;
  width: 150px;
  height: 25px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whyChooseUs :global(p) {
  margin-top: 10px;
  text-align: start;
}
.whyChooseUs :global(p svg) {
  color: #f30e0e;
}
.whyChooseUs :global(img) {
  transition: transform 0.3s ease; /* Smooth transition */
  width: 100%;
  height: auto;
}
.whyChooseUs :global(img:hover) {
  transform: scale(1.1); /* Zoom scale factor */
}

.flipCard {
  background-color: transparent;
  height: 210px;
  perspective: 1000px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
}

.flipCard:focus {
  outline: 0;
}

.flipCard:hover .flipCardInner,
.flipCard:focus .flipCardInner {
  transform: rotateX(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  display: block;
}
.flipCardFront {
  /* background: linear-gradient(to left, #141313, #0c0f12); */
  color: black;
  z-index: 2;
}

.flipCardBack {
  /* background: linear-gradient(to right, #4364f7, #6fb1fc); */
  color: white;
  transform: rotateX(180deg);
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
}
.flipCardBack :global(img) {
  width: 100%;
  padding: 10px;
}
.flipCard :global(.heading-name) {
  font-size: 16px;
  text-transform: capitalize;
}
.flipFrontImgDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flipFrontImgDiv :global(img) {
  width: 50px;
  height: 50px;
}
.flipFrontImgDiv {
  height: 50%;
}
/* Why Choose Ending */
/*  */
.latestNews {
  border: none !important;
}
.latestNews :global(h6) {
  position: absolute;
  margin-top: 0px;
  width: 150px;
  height: 25px;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.latestNews :global(p) {
  margin-top: 10px;
  text-align: start;
}
.latestNews :global(p svg) {
  color: #f30e0e;
}
.latestNews :global(img) {
  transition: transform 0.3s ease; /* Smooth transition */
  width: 100%;
  height: auto;
}
.latestNews :global(img:hover) {
  transform: scale(1.1); /* Zoom scale factor */
}



@media (max-width: 768px) {
  .tabesContainer{
    padding: 0px 20px !important;
}
}



.textimonials .owl-theme .owl-nav {
    display: none !important;
  }

.productsHeading {
    display: grid;
    justify-content: center;
  }
  .productsHeading h6 {
    text-align: center;
  }
  .productsHeading h3 {
    font-weight: 700;
    margin-bottom: 0px !important;
  }

  .testimonialCards {
    background-color: #2e2f2f !important;
    color: white !important;
    height: 255px !important;
    padding: 30px 15px !important;
  }
  .testimonialCards .newPost {
    display: flex !important;
  }
  
  .testimonialCards p {
    margin-bottom: 0px !important;
  }

  .arrowDown {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #2e2f2f;
  }
  .profileName {
    text-align: center;
  }

@media screen and (min-width: 320px) and (max-width: 768px){
    .textimonials .row{
        padding: 0px ;
    }
}

@media (max-width: 576px) {
    .textimonials .card{
        padding: 10px !important;
    }
    .textimonials .card .postTxt{
  font-size: 12px;
    }
    .productsHeading h3{
        font-size: 18px ;
       }
}

@media (max-width:1200px){
    .postTxt{
        font-size: 14px;
    }
}
