.productsHeading {
    display: grid;
    justify-content: center;
  }
  .productsHeading :global(h6) {
    text-align: center;
  }
  .productsHeading :global(h3) {
    font-weight: 700;
    margin-bottom: 0px !important;
  }

  .sellContainer {
    padding: 0px 40px !important;
  }
  .sellContainer :global(.form-control) {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px !important;
  }
  .sellComponentRow :global(.col-lg-4 div img) {
    height: 40px;
    margin-right: 3%;
  }
  .blockTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .pullRight {
    width: 200px;
    margin-bottom: 30px;
  }
  .pullRight {
    background-color: red !important;
    border: none !important;
  }
  .pullRight:global(:hover) {
    background-color: black !important;
  }
  .imageAlert{
    font-size: 12px;
  }

  @media (max-width: 576px) {
    .productsHeading :global(h3){
        font-size: 18px ;
       }

       .sellComponentRow :global(.col-lg-4 span){
        font-size: 12px;
    }
    .sellComponentRow :global(.col-lg-4 img){
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
    .sellComponentRow :global(.col-lg-4){
       margin-bottom: 8%;
    }
    .sellingForm :global(select){
        font-size: 10px ;
    }
  }